// SPDX-License-Identifier: MIT
// Copyright: 2023 Econolite Systems, Inc.
{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": []
}
